@import '../../mixins/rem';
@import '../mixins/alert-wc';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		@include kol-alert-theme;
	}

	.kol-input {
		color: var(--color-grey);
		gap: var(--spacing-xs);
	}

	input,
	select,
	textarea {
		border: none;
		margin: rem(1);
		outline: none;
	}

	input,
	select:not([multiple]) {
		height: rem(44);
		min-height: rem(44);
	}

	input:not([type='range']):focus,
	select:focus,
	textarea:focus {
		border-top: rem(1) solid var(--color-blue);
		border-bottom: rem(1) solid var(--color-blue);
	}

	label {
		font-weight: var(--font-weight-bold);
		order: 1;
	}

	.hint {
		font-size: rem(14);
		order: 2;
	}

	.kol-alert-wc {
		@include kol-alert-wc(--color-red);
		order: 3;
	}

	.input {
		min-height: rem(44);
		border: rem(1) solid var(--color-grey-75);
		color: var(--color-grey);
		order: 4;
		align-items: center;
		padding: rem(1) 0.5em;
	}

	input::placeholder,
	textarea::placeholder {
		color: var(--color-grey-50);
	}

	.input:focus-within {
		box-shadow:
			inset rem(1) rem(1) var(--color-blue),
			inset rem(-1) rem(-1) var(--color-blue);
		outline: none;
	}

	.input:focus-within,
	.input:hover {
		border-color: var(--color-blue);
	}

	.error .input {
		border-color: var(--color-red);
	}
}
