@import '../../mixins/rem';

@mixin kol-alert-wc($color: null) {
	color: var($color);
	font-size: 0.875em;
	margin-left: calc(-1 * var(--spacing-2xs));
}

@mixin kol-alert-theme {
	font-family: var(--font-family);

	div {
		background-color: var(--color-white);
	}

	div.card {
		border-style: solid;
		border-width: rem(2);
	}

	div.msg {
		border: none;
	}

	.msg .kol-alert__heading .kol-icon {
		font-size: 1.5em;
		margin: var(--spacing-2xs);
	}

	.msg .kol-alert__heading > div {
		padding: var(--spacing-2xs);
	}

	.card {
		padding-bottom: rem(24);
		padding-inline-end: rem(8);
		padding-inline-start: rem(24);
		padding-top: rem(24);
	}

	.card .kol-alert__heading {
		gap: rem(8);
	}

	.card .kol-alert__content {
		margin-left: rem(40);
	}

	.card .kol-alert__heading .kol-icon {
		font-size: rem(32);
	}

	.default {
		border-color: var(--color-grey);
	}

	.default .kol-alert__heading .kol-icon {
		color: var(--color-grey);
	}

	.error {
		border-color: var(--color-red);
	}

	.error .kol-alert__heading .kol-icon {
		color: var(--color-red);
	}

	.info {
		border-color: var(--color-blue);
	}

	.info .kol-alert__heading .kol-icon {
		color: var(--color-blue);
	}

	.success {
		border-color: var(--color-green);
	}

	.success .heading .kol-icon {
		color: var(--color-green);
	}

	.warning {
		border-color: var(--color-orange);
	}

	.warning .kol-alert__heading .kol-icon {
		color: var(--color-orange);
	}
}
