@import '../../mixins/rem';

@mixin kol-table-stateless-wc {
	@layer kol-theme-component {
		:host,
		.kol-table-stateless-wc {
			display: block;
			font-family: var(--font-family);
		}

		:host > div,
		.kol-table-stateless-wc > div {
			overflow-x: auto;
			overflow-y: hidden;
		}

		caption {
			padding: 0.5em;
		}

		th {
			font-weight: normal;
			color: var(--color-midnight);
		}

		table thead tr:first-child th,
		table thead tr:first-child td {
			border-width: 0;
			border-top-width: rem(2);
			border-style: solid;
			border-color: var(--color-ice);
		}

		.table {
			padding: 0.5em;
		}

		.table:has(.focus-element:focus) {
			outline-color: var(--color-blue);
			outline-offset: rem(2);
			outline-style: solid;
			outline-width: rem(2);
		}

		table {
			width: 100%;
			border-spacing: 0;
		}

		table,
		table thead tr:last-child th,
		table thead tr:last-child td {
			border-width: 0;
			border-bottom-width: rem(2);
			border-style: solid;
			border-color: var(--color-ice);
		}

		th {
			background-color: var(--color-white);
		}

		th[aria-sort='ascending'] .kol-button__element,
		th[aria-sort='descending'] .kol-button__element {
			font-weight: 700;
		}

		th div {
			display: flex;
			gap: 0.5em;
			grid-template-columns: 1fr auto;
			align-items: center;
		}

		tbody tr:nth-child(odd) {
			background-color: var(--color-grey-10);
		}

		th,
		td {
			padding: 0.5em;
		}

		th[aria-sort='ascending'],
		th[aria-sort='descending'] {
			font-weight: 700;
		}

		.input {
			input:focus {
				border-color: var(--color-blue);
				outline-color: var(--color-blue);
				outline-style: solid;
				outline-offset: rem(2);
				outline-width: rem(2);
			}

			// CHECKBOX
			input[type='checkbox'] {
				border-color: var(--color-grey-75);

				&:checked {
					background-color: var(--color-blue);
					border-color: var(--color-blue);
				}
			}

			.icon {
				color: var(--color-white);
			}

			&.indeterminate {
				input {
					background-color: var(--color-white);
				}

				.icon {
					color: var(--color-blue);
				}
			}

			kol-icon:hover ~ input[type='checkbox'],
			input[type='checkbox']:hover {
				border-color: var(--color-blue);
			}

			// RADIO
			input[type='radio'] {
				display: block;
				border-color: var(--color-grey-75);

				&:hover {
					border-color: var(--color-blue);
				}

				&:checked {
					border-color: var(--color-blue);
					border-width: rem(7);

					&:before {
						background-color: var(--color-white);
					}
				}
			}
		}
	}
}
