@import './label';
@import './kol-alert-wc';
@import './kol-required';

@import '../mixins/alert-wc';
@import '../mixins/typography';
@import '../mixins/input-base';

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	input {
		@include kol-typography-body;
		@include kol-input-base;

		cursor: pointer;
		width: 100%;
		overflow: hidden;
	}

	.error input {
		@include kol-input-error;
	}
}
