@import './rem';

@mixin kol-alert-theme {
	--kolibri-border-width: #{rem(1)};

	.default {
		border-color: var(--color-anthrazit);
	}

	.kol-alert__heading {
		gap: rem(8);
	}

	.default .kol-alert__heading-icon {
		background-color: var(--color-anthrazit);
	}

	.error {
		border-color: var(--color-rotton);
	}

	.error .kol-alert__heading-icon {
		background-color: var(--color-rotton);
	}

	.info {
		border-color: var(--color-petrol);
	}

	.info .kol-alert__heading-icon {
		background-color: var(--color-petrol);
	}

	.success {
		border-color: var(--color-gras);
	}

	.success .kol-alert__heading-icon {
		background-color: var(--color-gras);
	}

	.warning {
		border-color: var(--color-warn);
	}

	.warning .kol-alert__heading-icon {
		background-color: var(--color-warn);
	}
}
