@import './rem';

@mixin kol-alert-theme {
	.kol-alert {
		--kolibri-border-width: #{rem(1)};

		.default {
			--alert-background-color: var(--color-anthrazit);
			--alert-border-color: var(--color-anthrazit);
		}

		.error {
			--alert-background-color: var(--color-rotton);
			--alert-border-color: var(--color-rotton);
		}

		.info {
			--alert-background-color: var(--color-petrol);
			--alert-border-color: var(--color-petrol);
		}

		.success {
			--alert-background-color: var(--color-gras);
			--alert-border-color: var(--color-gras);
		}

		.warning {
			--alert-background-color: var(--color-warn);
			--alert-border-color: var(--color-warn);
		}

		&__container {
			gap: rem(8);
		}

		&__heading-icon {
			background-color: var(--alert-background-color);
			border-color: var(--alert-border-color);
		}
	}
}
