@import './rem';

@mixin kol-button {
	.kol-button {
		$root: &;

		&--primary {
			--text-background-color: var(--color-petrol);
			--text-border-color: var(--color-petrol);
			--text-color: var(--color-weiss);
			&:not([disabled]):hover,
			&:focus {
				--text-background-color: var(--color-achat);
				--text-border-color: var(--color-achat);
			}
		}

		&--secondary {
			--text-background-color: var(--color-weiss);
			--text-border-color: var(--color-petrol);
			--text-color: var(--color-petrol);
			&:not([disabled]):hover,
			&:focus {
				--text-background-color: var(--color-petrol);
				--text-color: var(--color-weiss);
			}
		}

		&--normal {
			--text-background-color: var(--color-weiss);
			--text-border-color: var(--color-anthrazit);
			--text-color: var(--color-anthrazit);

			&:not([disabled]):hover,
			&:focus {
				--text-background-color: var(--color-anthrazit);
				--text-color: var(--color-weiss);
			}
		}

		&--danger {
			--text-background-color: var(--color-weiss);
			--text-border-color: var(--color-blut);
			--text-color: var(--color-blut);

			&:hover,
			&:focus {
				--text-background-color: var(--color-blut);
				--text-color: var(--color-weiss);
			}
		}

		&--ghost {
			--text-background-color: var(--color-ghost);
			--text-border-color: transparent;
			--text-color: var(--color-anthrazit);

			&:not([disabled]):hover,
			&:focus {
				--text-border-color: var(--color-ghost);
			}
		}

		&__element {
			background-color: transparent;
		}

		&__text {
			gap: 0.25em;
			transition-delay: 0ms;
			transition-timing-function: ease-in-out;
			transition-duration: 0.5s;
			transition-property: background, color, border-color;

			background-color: var(--text-background-color);
			border-color: var(--text-border-color);
			color: var(--text-color);

			@at-root #{$root}--hide-label & {
				padding: 0 rem(8);

				.span-label {
					display: none;
				}
			}
		}
	}
}
