@import './rem';

@mixin kol-link {
	.kol-link {
		text-decoration-line: none;
		background-image: repeating-linear-gradient(to right, #66ddec, #66ddec);
		background-repeat: no-repeat;
		background-position: left 0 bottom 0;
		background-size: 25% 0.25ex;
		border-radius: var(--spacing);
		color: var(--color-petrol);
		font-family: var(--font-family-sans);
		font-size: inherit;
		/* text-transform: uppercase; */
		transition-delay: 0ms;
		transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-property: background, color, border-color;

		&:hover {
			background-size: 100% 0.25ex;
			color: var(--color-achat);
		}

		&__text {
			gap: 0.25em;
		}
	}
}
