@import '../mixins/alert-wc';
@import '../mixins/rem';

@layer kol-theme-component {
	.default {
		border-color: var(--color-anthrazit);
	}

	.kol-alert {
		&__heading {
			display: flex;
			place-items: center;
			gap: rem(8);
		}
	}

	.default .kol-alert__heading-icon {
		background-color: var(--color-anthrazit);
	}

	.error {
		border-color: var(--color-rotton);
	}

	.error .kol-alert__heading-icon {
		background-color: var(--color-rotton);
	}

	.info {
		border-color: var(--color-petrol);
	}

	.info .kol-alert__heading-icon {
		background-color: var(--color-petrol);
	}

	.success {
		border-color: var(--color-gras);
	}

	.success .kol-alert__heading-icon {
		background-color: var(--color-gras);
	}

	.warning {
		border-color: var(--color-warn);
	}

	.warning .kol-alert__heading-icon {
		background-color: var(--color-warn);
	}
}
