@import '../mixins/alert-wc';
@import '../mixins/rem';

@layer kol-theme-component {
	.kol-alert {
		&--default {
			--alert-border-color: var(--color-anthrazit);
		}

		&--error {
			--alert-border-color: var(--color-rotton);
		}

		&--info {
			--alert-border-color: var(--color-petrol);
		}

		&--success {
			--alert-border-color: var(--color-gras);
		}

		&--warning {
			--alert-border-color: var(--color-warn);
		}

		&__container {
			display: flex;
			place-items: center;
			gap: rem(8);
		}

		&__heading-icon {
			background-color: var(--alert-border-color);
		}
	}
}
