@import '../mixins/alert-wc';
@import '../mixins/rem';

@layer kol-theme-component {
	.kol-alert {
		&__container {
			display: flex;
			place-items: center;
			gap: rem(8);
		}

		&--default {
			border-color: var(--color-anthrazit);

			.kol-alert__heading-icon {
				background-color: var(--color-anthrazit);
			}
		}

		&--error {
			border-color: var(--color-rotton);

			.kol-alert__heading-icon {
				background-color: var(--color-rotton);
			}
		}

		&--info {
			border-color: var(--color-petrol);

			.kol-alert__heading-icon {
				background-color: var(--color-petrol);
			}
		}

		&--success {
			border-color: var(--color-gras);

			.kol-alert__heading-icon {
				background-color: var(--color-gras);
			}
		}

		&--warning {
			border-color: var(--color-warn);

			.kol-alert__heading-icon {
				background-color: var(--color-warn);
			}
		}
	}
}
