@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		display: inline-block;
		font-family: inherit;
	}

	:host > span {
		border-radius: 5px;
		display: inline-flex;
	}

	:host > span .kol-button-wc {
		border-left: rem(1) solid rgba(0, 0, 0, 0.25);
	}

	:host > span .kol-span-wc {
		padding: 4px 8px;
	}

	:host > span > .kol-span-wc {
		align-items: center;
		font-style: normal;
		gap: rem(8);
	}

	:host > span > .kol-span-wc > span {
		display: flex;
		gap: rem(4);
	}

	:host button {
		border-radius: 0 var(--spacing) var(--spacing) 0;
	}
}
