@import '../mixins/rem';

@layer kol-theme-component {
	.kol-button {
		$root: &;
		border-radius: rem(32);
		font-family: var(--font-family-sans);
		/* text-transform: uppercase; */

		&--primary {
			--background-color: var(--color-petrol);
			--border-color: var(--color-petrol);
			--color: var(--color-weiss);

			&:not([disabled]):hover,
			&:focus {
				--background-color: var(--color-achat);
				--border-color: var(--color-achat);
			}
		}

		&--secondary {
			--background-color: var(--color-weiss);
			--border-color: var(--color-petrol);
			--color: var(--color-petrol);

			&:not([disabled]):hover,
			&:focus {
				--background-color: var(--color-petrol);
				--border-color: var(--color-petrol);
				--color: var(--color-weiss);
			}
		}

		&--normal {
			--background-color: var(--color-weiss);
			--border-color: var(--color-anthrazit);
			--color: var(--color-anthrazit);

			&:not([disabled]):hover,
			&:focus {
				--background-color: var(--color-anthrazit);
				--border-color: var(--color-anthrazit);
				--color: var(--color-weiss);
			}
		}

		&--danger {
			--background-color: var(--color-weiss);
			--border-color: var(--color-blut);
			--color: var(--color-blut);

			&:not([disabled]):hover,
			&:focus {
				--background-color: var(--color-blut);
				--border-color: var(--color-blut);
				--color: var(--color-weiss);
			}
		}

		&--ghost {
			--background-color: var(--color-ghost);
			--border-color: transparent;
			--color: var(--color-anthrazit);

			&:not([disabled]):hover,
			&:focus {
				--background-color: var(--color-ghost);
				--border-color: var(--color-ghost);
				--color: var(--color-anthrazit);
			}
		}

		&__text {
			border-radius: rem(32);
			border-style: solid;
			min-width: rem(44);
			min-height: rem(44);
			border-width: var(--spacing);
			font-size: inherit;
			/*line-height: 1.25em;*/
			/*padding: calc(4 * var(--spacing));*/
			padding: 0 rem(16);

			gap: 0.25em;
			transition-delay: 0;
			transition-timing-function: ease-in-out;
			transition-duration: 0.5s;
			transition-property: background, color, border-color;

			background-color: var(--background-color);
			border-color: var(--border-color);
			color: var(--color);

			@at-root #{$root}--hide-label & {
				padding: 0 rem(8);

				.span-label {
					display: none;
				}
			}
		}
	}
}
