@import '../mixins/alert-wc';
@import '../mixins/indented-text';
@import '../mixins/link';

@layer kol-theme-component {
	@include kol-alert-theme;
	@include kol-link;

	.kol-link {
		display: inline-block;
	}

	.mandatory-fields-hint {
		@include indented-text;
	}

	.kol-alert .kol-alert__heading {
		display: flex;
		place-items: center;
	}
}
