@import '../mixins/rem';

@layer kol-theme-component {
	.kol-nav {
		&__navigation {
			.kol-link-wc a.text-center {
				display: grid;
				align-items: center;
				justify-items: center;
			}
		}

		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
			border-radius: var(--border-radius);
			background-color: var(--color-petrol);

			&--horizontal {
				display: flex;
			}
		}

		&__entry {
			height: 100%;

			&--item {
				border-radius: var(--border-radius);
				overflow: hidden;
				padding: 0.125em;

				&[part*='vertical'] + li {
					border-radius: 0;
					border-top: 0.1em dotted white;
				}

				&[part*='vertical selected'] {
					border-right: 0.375em solid var(--color-citrin);
				}

				&[part*='horizontal'] + li {
					border-radius: 0;
					border-left: 0.1em dotted white;
				}

				&[part*='horizontal selected'] {
					border-bottom: 0.375em solid var(--color-citrin);
				}
			}

			.kol-link-wc {
				width: 100%;
				/*height: 100%;font-weight: 600;*/
				display: block;

				a {
					border-radius: var(--border-radius);
					background-color: var(--color-petrol);
					border: rem(1) solid transparent;
					grid: flex;
					line-height: 2;
					padding: 0.5em;
					color: white;
					height: 100%;
					-webkit-box-align: center;
					align-items: center;
					display: flex;
					cursor: pointer;
					text-decoration: inherit;

					&:focus,
					&:hover {
						border: rem(1) solid white;
						background-color: var(--color-fluorit);
						color: var(--color-anthrazit);
					}

					.kol-icon.mr-2 {
						margin-right: calc(2 * 2 * var(--spacing));
					}

					.kol-icon.ml-2 {
						margin-left: calc(2 * 2 * var(--spacing));
					}
				}

				&[exportparts*='selected'] a {
					background-color: var(--color-achat);
					font-weight: 700;
				}
			}
		}

		&__absolute {
			position: absolute;
		}

		.kol-span-wc {
			justify-items: baseline;
		}

		/* compact button */
		&__compact {
			margin-top: 0.5em;
			width: 100%;
			text-align: center;
		}
	}
}
