@import '../mixins/rem';

@layer kol-theme-component {
	.kol-progress {
		--kolibri-text-label-padding: #{rem(60)};

		&__progress,
		span {
			display: block;
			height: 0;
			overflow: hidden;
			width: 0;
		}

		&__progress {
			display: none;
		}
	}

	svg line:first-child,
	svg circle:first-child {
		fill: transparent;
		stroke: var(--color-fluorit);
	}

	svg line:last-child,
	svg circle:last-child {
		stroke: var(--color-achat);
		fill: transparent;
	}
}
