@import '../@shared/label';
@import '../@shared/kol-alert-wc';
@import '../@shared/kol-required';

@import '../mixins/alert-wc';
@import '../mixins/typography';
@import '../mixins/input-base';

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	.error select {
		@include kol-input-error;
	}

	select {
		@include kol-typography-body;
		@include kol-input-container-base;

		width: 100%;
	}

	option {
		min-height: 2em;
	}

	select:not([multiple]) option {
		padding: 0.5em;
	}
}
