@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	.kol-quote {
		font-size: rem(16);

		&__cite,
		&__figure,
		&__quote + &__figcaption {
			display: inline;
			margin: 0;
			padding: 0;
		}

		&__blockquote::before {
			content: open-quote;
		}

		&__blockquote::after {
			content: close-quote;
		}

		&__cite::before {
			content: '—';
		}

		&--block &__cite::before {
			padding-right: 0.5em;
		}

		&--inline &__cite::before {
			padding: 0.5em;
		}
	}
}
