@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	:host > span {
		font: normal normal var(--font-weight) rem(14) / 1em var(--font-family);
		padding: calc(8px - 1px) calc(12px - 1px);
		text-transform: uppercase;
	}
}
