@layer kol-theme-component {
	.kol-button-link {
		.kol-button__element {
			appearance: none;
			color: var(--color-blue);
			text-decoration: underline;

			&:hover {
				color: var(--color-blue-130);
			}
		}
	}
}
