@import '../../mixins/rem';

@layer kol-theme-component {
	.kol-link {
		$root: &;

		--kolibri-spacing: #{rem(4)};
		font-family: var(--font-family);

		appearance: none;
		border-radius: rem(4);
		text-decoration: none;

		&:focus {
			outline: none;
		}

		&__text {
			min-height: rem(44);
			min-width: rem(44);
			border-radius: rem(4);
			font:
				normal normal 400 rem(16) / rem(20) arial,
				sans-serif;
			font-weight: 400;
			margin: 0;
			padding: rem(12);

			background-color: var(--background-color);
			color: var(--color);
			outline-color: var(--outline-color);
			border: var(--border);

			@at-root #{$root}:focus-visible & {
				outline-offset: rem(-4);
				outline-style: solid;
				outline-width: rem(2);
			}

			@at-root #{$root}:active & {
				box-shadow:
					0 rem(2) rem(4) rgb(9 49 142 / 8%),
					0 0 rem(10) rgb(9 49 142 / 4%),
					0 rem(4) rem(5) rgb(9 49 142 / 4%),
					0 rem(-4) rem(4) rgb(9 49 142 / 4%);
			}
			@at-root #{$root}:hover & {
				box-shadow:
					0 rem(2) rem(4) rgb(9 49 142 / 8%),
					0 0 rem(10) rgb(9 49 142 / 4%),
					0 rem(4) rem(5) rgb(9 49 142 / 4%),
					0 rem(-4) rem(4) rgb(9 49 142 / 4%);
			}

			@at-root #{$root}--secondary & {
				padding: calc(rem(12) - rem(2)) calc(rem(16) - rem(2));
			}
		}

		&--primary {
			--background-color: #0e47cb;
			--color: #fff;

			&:focus-visible {
				--outline-color: #fff;
			}

			&:hover {
				--background-color: #3e6cd5;
			}
		}

		&--secondary {
			--background-color: #fff;
			--border: #{rem(2) solid #0e47cb};
			--color: #0e47cb;

			&:focus-visible {
				--box-shadow: inset 0 0 0 rem(4) #0e47cb;
				--outline-color: #fff;
			}

			&:hover {
				--border-color: #0e47cb;
				--color: #0e47cb;
			}
		}

		&--normal {
			--background-color: #fc0;
			--color: #171a22;

			&:focus-visible {
				--outline-color: #000;
			}

			&:hover {
				--background-color: #fc0;
				--border-color: #fc0;
			}
		}

		&--danger {
			--background-color: var(--color-red);
			--border-color: var(--color-red);
			--color: var(--color-white);

			&:hover {
				--background-color: var(--color-red);
				--border-color: var(--color-red);
			}
		}

		&--ghost {
			--color: #0e47cb;

			&:focus-visible {
				--outline-color: #0e47cb;
			}

			&:hover {
				--color: #0e47cb;
			}
		}
	}
}
