@import '../mixins/button';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		border-style: solid;
		border-width: rem(2);
		border-color: var(--color-blue);
		border-radius: rem(4);
	}

	.horizontal-line {
		border: 0;
		border-top: rem(1) solid var(--color-blue);
	}

	.popover {
		background-color: #fff;
	}

	@include kol-button;
}
