@import '../../mixins/rem';
@import '../mixins/alert-wc';

@layer kol-theme-component {
	:host {
		top: rem(16);
		right: rem(16);
		width: rem(440);
		max-width: 100%;
	}

	.toast {
		display: block;
		background-color: #fff;
		margin-top: rem(16);

		@include kol-alert-theme;

		.heading {
			width: 100%;

			.heading-content {
				flex: 1;
			}
		}
	}

	.alert {
		display: block;
	}
}
