@import '../@shared/mixins';
@import '../style';
@import '../tooltip/style.scss';

@layer kol-component {
	.kol-badge {
		display: inline-flex;
		place-items: center;
		/* Visible with forced colors  */
		outline: transparent solid rem(1);
		font-size: rem(16);

		.kol-button-wc {
			button {
				color: inherit;
			}
		}
	}
}
