@import '../mixins/button';
@import '../mixins/rem';

@layer kol-theme-component {
	.kol-button {
		font-family: var(--font-family);

		.kol-button__text {
			font-weight: 700;
			border-radius: var(--border-radius);
			border-style: solid;
			border-width: var(--border-width);
			min-height: var(--a11y-min-size);
			min-width: var(--a11y-min-size);
			padding: rem(8) rem(14);
			text-align: center;
			transition-duration: 0.5s;
			transition-property: background-color, color, border-color;
		}
	}
	@include kol-button;
}
