@import '../mixins/rem';

@layer kol-theme-component {
	.kol-button {
		$root: &;

		color: var(--color-primary);
		font-style: normal;
		font-weight: 400;
		font-size: inherit;

		&:focus {
			outline: none;

			--text-border-radius: var(--border-radius);
			--text-outline: calc(var(--border-width) * 2) solid;
		}

		&:visited {
			color: var(--visited);
		}

		&__text {
			border-radius: var(--text-border-radius);
			outline: var(--text-outline);

			.span-label {
				@at-root #{$root}:is(:focus, :hover):not([aria-disabled], [disabled]) & {
					text-decoration-thickness: 0.25em;
				}
			}
		}
	}

	.badge-text-hint {
		background-color: var(--color-mute-variant);
		border-radius: rem(3);
		color: var(--color-text);
		padding: 0 0.3em;
	}
}
