@import '../mixins/rem';

@layer kol-theme-component {
	.kol-button-link {
		.kol-button {
			$root: &;

			&__element {
				color: var(--color-primary);
				font-style: normal;
				font-weight: 400;
				font-size: inherit;

				&:focus {
					outline: none;
				}

				&:visited {
					color: var(--visited);
				}
			}
			&__text {
				&:focus {
					border-radius: var(--border-radius);
					outline: calc(var(--border-width) * 2) solid;
				}
				@at-root #{$root}:hover:not([disabled]) &,
					#{$root}:hover:not([aria-disabled]) & {
					.span-label {
						text-decoration-thickness: 0.25em;
					}
				}
			}
		}

		.skip {
			left: rem(-99999);
			overflow: hidden;
			position: absolute;
			z-index: 9999999;

			&:focus {
				background-color: white;
				left: unset;
				position: unset;
			}
		}

		.badge-text-hint {
			background-color: var(--color-mute-variant);
			border-radius: rem(3);
			color: var(--color-text);
			padding: 0 0.3em;
		}
	}
}
