@import '../@shared/input-core';
@import '../mixins/rem';

@layer kol-theme-component {
	input[type='color'] {
		border: none;
		min-height: rem(40);
	}

	input[type='color'] {
		background-color: transparent;
	}
}
