@import '../mixins/button';
@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		border-radius: var(--border-radius);
		border-style: solid;
		border-width: var(--border-width);
		border-color: var(--color-primary);
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
	}

	.popover {
		background-color: #fff;
	}

	.secondary-button button {
		height: 100%;
	}

	.horizontal-line {
		background-color: var(--color-primary);
		border-radius: rem(2);
		width: rem(1);
	}

	:is(a, button) > .kol-span-wc {
		font-weight: 700;

		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
		padding: rem(8) rem(14);
		text-align: center;
		transition-duration: 0.5s;
		transition-property: background-color, color, border-color;
	}

	// Temp-Fix Hover-effect on Button clipping border
	.main-button :is(a, button) > .kol-span-wc {
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
	}

	.secondary-button :is(a, button) > .kol-span-wc {
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
	}

	@include kol-button;
}
