@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	ul {
		display: grid;
		list-style: none;
		place-items: center;
	}

	ul li {
		height: 0;
	}

	.kol-link {
		left: rem(-99999);
		overflow: hidden;
		position: absolute;
		z-index: 9999999;
		line-height: 1;

		&:focus {
			background-color: #fff;
			left: unset;
			position: unset;
		}
	}
}
