@import '../mixins/rem';

@layer kol-theme-component {
	.kol-breadcrumb {
		font-family: var(--font-family);

		&__list-element {
			&:has(:is(.kol-breadcrumb__icon + .kol-breadcrumb__link, .kol-breadcrumb__icon + .kol-breadcrumb__list-element-span)) {
				.kol-breadcrumb__icon {
					font-size: rem(24);
				}

				.kol-breadcrumb__icon::part(icon) {
					font-family: 'Material Symbols Rounded';
					font-weight: 400;
					color: var(--color-grey);
				}
				.kol-breadcrumb__icon::part(icon)::before {
					content: 'chevron_right';
				}
			}
		}

		&__link {
			font-family: var(--font-family);

			&::part(icon) {
				font-size: rem(20);
			}
		}

		&__list-element {
			:is(.kol-breadcrumb__list-element-span, .kol-breadcrumb__link) {
				line-height: 1.25;
			}

			:last-child > .kol-breadcrumb__list-element-span {
				color: var(--color-grey);
			}
		}
	}
}
