@import '../mixins/rem';

@layer kol-theme-component {
	.kol-button-link {
		:is(a, button) {
			color: var(--color-midnight);
			font-style: normal;
			font-weight: 400;
			text-decoration-line: underline;
			font-size: inherit;

			&:focus {
				outline: none;

				.kol-span-wc {
					border-radius: var(--border-radius);
					outline: rem(2) solid;
				}
			}

			&:visited {
				color: var(--visited);
			}
		}

		a:hover:not([aria-disabled]),
		button:hover:not([disabled]) {
			text-decoration-thickness: 0.25em;
		}

		.skip {
			left: rem(-99999);
			overflow: hidden;
			position: absolute;
			z-index: 9999999;

			&:focus {
				background-color: white;
				left: unset;
				position: unset;
			}
		}
	}
}
