@import '../mixins/button';
@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	a .kol-span-wc,
	button .kol-span-wc {
		border-radius: 0;
		border-style: solid;
		border-width: rem(2);
		font-weight: var(--font-weight-bold);
		margin: 0;
		min-height: rem(44);
		min-width: rem(44);
		padding: 0.25em 0.75em;
		line-height: 1.2;
	}

	@include kol-button;
}
