@import '../mixins/alert-wc';
@import '../mixins/indented-text';
@import '../mixins/link';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		width: 100%;
		@include kol-alert-theme;
	}

	.kol-link-wc {
		@include kol-link;
		display: inline-block;
	}

	.mandatory-fields-hint {
		@include indented-text;
	}

	.kol-alert-wc .heading {
		display: flex;
		place-items: center;
	}
}
