@import '../../mixins/rem';

@layer kol-theme-component {
	.kol-progress {
		font-family: var(--font-family);

		&__progress,
		span {
			display: block;
			height: 0;
			overflow: hidden;
			width: 0;
		}

		&__progress {
			display: none;
		}
	}

	svg line:first-child,
	svg circle:first-child {
		fill: transparent;
		stroke: var(--color-grey-25);
	}

	svg line:last-child,
	svg circle:last-child {
		stroke: var(--color-blue-130);
		fill: transparent;
	}
}
