@import '../mixins/button';
@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		border-radius: 0;
		border-style: solid;
		border-width: rem(2);
		border-color: var(--color-blue);
	}

	.popover {
		background-color: #fff;
	}

	.horizontal-line {
		border: 0;
		border-top: rem(1) solid var(--color-blue);
	}

	a .kol-span-wc,
	button .kol-span-wc {
		font-weight: var(--font-weight-bold);
		margin: 0;
		min-height: rem(44);
		min-width: rem(44);
		padding: 0.25em 0.75em;
	}

	@include kol-button;
}
