@import './rem';

@mixin kol-alert {
	display: block;
	width: 100%;
}

@mixin kol-input-error-with-kol-alert-wc-error($color: null) {
	color: var($color);
	font-weight: 700;
}

@mixin kol-alert-theme {
	.kol-alert {
		border-width: var(--border-width);
		border-style: solid;
		border-radius: var(--border-radius);
		display: flex;
		width: 100%;
		overflow: unset;
		border-color: transparent;
		background-color: var(--color-light);

		&__container {
			display: flex;
			gap: 0.5em;
			place-items: center;
		}

		&__container-content {
			display: grid;
			gap: rem(4);
		}

		&__close-button.close {
			place-self: center;
		}

		&.kol-alert--default {
			border-color: var(--color-subtle);
		}

		&.kol-alert--error {
			border-color: var(--color-danger);
		}

		&.kol-alert--info {
			border-color: var(--color-primary);
		}

		&.kol-alert--success {
			border-color: var(--color-success);
		}

		&.kol-alert--warning {
			border-color: var(--color-warning);
		}
		&--msg {
			align-items: start;
			border-width: 0;

			.kol-alert__container {
				.kol-alert__heading-icon {
					padding-top: 0;
					place-items: baseline;
				}

				.kol-alert__heading {
					padding-top: calc(--var-spacing / 2);
				}
			}

			&.kol-alert--default {
				.kol-alert__heading {
					color: var(--color-subtle);
				}

				.kol-alert__heading-icon {
					color: var(--color-subtle);
				}

				.kol-alert__close-button .icon {
					color: var(--color-subtle);
				}
			}

			&.kol-alert--error {
				.kol-alert__heading {
					color: var(--color-danger);
				}

				.kol-alert__heading-icon {
					color: var(--color-danger);
				}

				.kol-alert__close-button .icon {
					color: var(--color-danger);
				}
			}

			&.kol-alert--info {
				.kol-alert__heading {
					color: var(--color-primary);
				}

				.kol-alert__heading-icon {
					color: var(--color-primary);
				}

				.kol-alert__close-button .icon {
					color: var(--color-primary);
				}
			}

			&.kol-alert--success {
				.kol-alert__heading {
					color: var(--color-success);
				}

				.kol-alert__heading-icon {
					color: var(--color-success);
				}

				.kol-alert__close-button .icon {
					color: var(--color-success);
				}
			}

			&.kol-alert--warning {
				.kol-alert__heading {
					color: var(--color-warning);
				}

				.kol-alert__heading-icon {
					color: var(--color-warning);
				}

				.kol-alert__close-button .icon {
					color: var(--color-warning);
				}
			}
		}

		.kol-alert__heading-icon {
			padding: 0;
			color: var(--color-light);
		}

		:is(&.kol-alert--error, &.kol-alert--info, &.kol-alert--success, &.kol-alert--warning) {
			.kol-alert__heading-icon {
				font-size: rem(20);
			}
		}

		&--card {
			border-width: var(--border-width);
			border-style: solid;
			filter: drop-shadow(0 rem(2) rem(4) rgba(8, 35, 48, 0.24));
			flex-direction: column;

			.kol-alert__heading-icon {
				justify-self: right;
				margin-top: rem(-4);
			}

			.kol-alert__container {
				padding: rem(8) rem(16);
			}

			.kol-alert__container-content {
				width: 100%;
				min-height: rem(20);
			}

			.kol-alert__heading {
				width: 100%;
				color: var(--color-light);
				display: flex;
				font-size: rem(20);
				line-height: 1;

				> * {
					margin: auto 0;
				}
			}

			&[_has-closer] > {
				.kol-alert__container {
					padding-top: 0;
					padding-bottom: 0;
					padding-right: 0;
				}
			}

			.kol-alert__content {
				padding: rem(16);
			}

			&.kol-alert--default {
				.kol-alert__container {
					background-color: var(--color-subtle);
				}

				.kol-alert__close-button {
					background-color: var(--color-subtle);
				}
			}

			&.kol-alert--error {
				.kol-alert__container {
					background-color: var(--color-danger);
				}

				.kol-alert__close-button {
					background-color: var(--color-danger);
				}
			}

			&.kol-alert--info {
				.kol-alert__container {
					background-color: var(--color-primary);
				}

				.kol-alert__close-button {
					background-color: var(--color-primary);
				}
			}

			&.kol-alert--success {
				.kol-alert__container {
					background-color: var(--color-success);
				}
				.kol-alert__close-button {
					background-color: var(--color-success);
				}
			}

			&.kol-alert--warning {
				.kol-alert__container {
					background-color: var(--color-warning);
				}
				.kol-alert__close-button {
					background-color: var(--color-warning);
				}
			}
		}

		.kol-alert__close-button {
			> .button {
				border-radius: 50%;
				/* visible on focus */
				color: var(--color-light);
				cursor: pointer;
				height: var(--a11y-min-size);
				width: var(--a11y-min-size);
				&.hide-label {
					.kol-icon {
						display: flex;
						width: 1em;
						height: 1em;
						font-size: rem(19.2);
					}
					&:active {
						box-shadow: none;
						outline: none;
					}
				}
			}
		}
	}
}
