@import './rem';
@import './focus-outline';

@mixin kol-button {
	.kol-button {
		$root: &;

		&--primary {
			--text-background-color: var(--color-primary);
			--text-border-color: var(--color-primary);
			--text-color: var(--color-light);
		}

		&--secondary,
		&--normal {
			--text-background-color: var(--color-light);
			--text-border-color: var(--color-primary);
			--text-color: var(--color-primary);
		}

		&--danger {
			--text-background-color: var(--color-danger);
			--text-border-color: var(--color-danger);
			--text-color: var(--color-light);
		}

		&--ghost {
			--text-background-color: var(--color-light);
			--text-border-color: var(--color-light);
			--text-color: var(--color-primary);
			--text-box-shadow: none;
		}

		&--primary,
		&--secondary,
		&--normal,
		&--danger,
		&--ghost {
			&:not([disabled]):hover {
				--text-background-color: var(--color-primary-variant);
				--text-border-color: var(--color-primary-variant);
				--text-color: var(--color-light);
			}
		}

		&--danger {
			&:not([disabled]):hover {
				--text-background-color: var(--color-danger);
				--text-border-color: var(--color-danger);
			}
		}

		&__element {
			&:focus {
				outline: none;
			}
		}

		&__text {
			background-color: var(--text-background-color);
			border-color: var(--text-border-color);
			color: var(--text-color);

			&:hover {
				box-shadow: 0 rem(2) rem(8) rem(2) rgba(8, 35, 48, 0.24);
				background-color: var(--text-background-color);
				border-color: var(--text-border-color);
				color: var(--text-color);
			}

			@at-root #{$root}--hide-label & {
				padding: rem(12.8);
				width: unset;

				.span-label {
					display: none;
				}
			}

			@at-root #{$root}--ghost & {
				border: none;
				--text-background-color: transparent;
				box-shadow: none;

				> .span-container {
					border-radius: 1.5em;
					border-style: solid;
					border-width: var(--border-width);
					--text-border-color: var(--color-light);
					--text-background-color: var(--color-light);
				}
			}

			@at-root #{$root}__element:focus {
				@include focus-outline;
			}

			@at-root #{$root}__element:disabled:hover & {
				background-color: var(--text-background-color);
				border-color: var(--text-border-color);
				color: var(--text-color);
				box-shadow: none;
			}
		}

		.badge-text-hint {
			background-color: var(--color-mute-variant);
			border-radius: rem(3);
			color: var(--color-text);
			padding: 0 0.3em;
		}
	}
}
