@import './rem';
@import './focus-outline';

@mixin kol-button {
	.kol-button {
		--text-background-color: unset;
		--text-border-color: unset;
		--text-color: unset;

		--text-hover-background-color: unset;
		--text-hover-border-color: unset;
		--text-hover-color: unset;

		&__element {
			&:disabled:hover {
				.kol-button__text {
					background-color: var(--text-background-color);
					border-color: var(--text-border-color);
					color: var(--text-color);
					box-shadow: none;
				}
			}

			&:focus {
				outline: none;
				.kol-button__text {
					@include focus-outline;
				}
			}

			.loading {
				.kol-button__text {
					.kol-icon {
						animation: spin 5s infinite linear;
					}
				}
			}

			&.kol-button--hide-label {
				.kol-button__text {
					padding: rem(12.8);
					width: unset;
					.span-label {
						display: none;
					}
				}
			}
		}

		&__text {
			background-color: var(--text-background-color);
			border-color: var(--text-border-color);
			color: var(--text-color);

			&:hover,
			&:active {
				box-shadow: 0 rem(2) rem(8) rem(2) rgba(8, 35, 48, 0.24);
				background-color: var(--text-hover-background-color);
				border-color: var(--text-hover-border-color);
				color: var(--text-hover-color);
			}

			&:active {
				box-shadow: none;
				outline: none;
			}

			&:disabled:hover {
				background-color: var(--text-background-color);
				border-color: var(--text-border-color);
				color: var(--text-color);
				box-shadow: none;
			}
		}

		&--primary {
			--text-background-color: var(--color-primary);
			--text-border-color: var(--color-primary);
			--text-color: var(--color-light);
		}

		&--secondary,
		&--normal {
			--text-background-color: var(--color-light);
			--text-border-color: var(--color-primary);
			--text-color: var(--color-primary);
		}

		&--danger {
			--text-background-color: var(--color-danger);
			--text-border-color: var(--color-danger);
			--text-color: var(--color-light);
		}

		&--ghost {
			--text-background-color: var(--color-light);
			--text-border-color: var(--color-light);
			--text-color: var(--color-primary);
			--text-box-shadow: none;
		}

		/*-----------*/
		&--primary,
		&--secondary,
		&--normal,
		&--danger,
		&--ghost {
			--text-hover-background-color: var(--color-primary-variant);
			--text-hover-border-color: var(--color-primary-variant);
			--text-hover-color: var(--color-light);
		}

		&--danger {
			--text-hover-background-color: var(--color-danger);
			--text-hover-border-color: var(--color-danger);
		}

		//!** small ghost button *!*/
		&--ghost {
			&.kol-button__element {
				.small {
					.kol-button__text {
						border: none;
						background-color: transparent;
						box-shadow: none;

						> span {
							border-radius: 1.5em;
							border-style: solid;
							border-width: var(--border-width);
							border-color: var(--color-light);
							background-color: var(--color-light);
						}
					}
				}
			}
		}

		/** :is(a,button) with transparent background */
		.kol-button__element,
		.ghost .kol-button__element.small {
			&.transparent {
				.kol-button__text,
				.kol-button__text > span {
					background-color: transparent;
					border-color: transparent;
				}
			}
		}

		.badge-text-hint {
			background-color: var(--color-mute-variant);
			border-radius: rem(3);
			color: var(--color-text);
			padding: 0 0.3em;
		}
	}
}
