@import '../../mixins/rem';

@mixin kol-alert-wc($color: null) {
	color: var($color);
	font-size: 0.875em;
	margin-left: calc(-1 * var(--spacing-2xs));
}

@mixin kol-alert-theme {
	.kol-alert {
		font-family: var(--font-family);

		&__container {
			background-color: var(--color-white);
		}

		&--msg {
			border: none;

			.kol-alert__container {
				.kol-icon {
					font-size: 1.5em;
					margin: var(--spacing-2xs);
				}

				.kol-alert__container-content {
					padding: var(--spacing-2xs);
				}
			}
		}

		&--card {
			padding-bottom: rem(24);
			padding-inline-end: rem(8);
			padding-inline-start: rem(24);
			padding-top: rem(24);
			border-style: solid;
			border-width: rem(2);

			.kol-alert__container {
				gap: rem(8);
			}

			.kol-alert__content {
				margin-left: rem(40);
			}

			.kol-alert__heading-icon,
			.kol-alert__close-button .icon {
				font-size: rem(32);
			}
		}

		&--default {
			border-color: var(--color-grey);
			.kol-alert__heading-icon,
			.kol-alert__close-button > .button {
				color: var(--color-grey);
			}
		}

		&--error {
			border-color: var(--color-red);

			.kol-alert__heading-icon,
			.kol-alert__close-button > .button {
				color: var(--color-red);
			}
		}

		&--info {
			border-color: var(--color-blue);

			.kol-alert__heading-icon,
			.kol-alert__close-button > .button {
				color: var(--color-blue);
			}
		}

		&--success {
			border-color: var(--color-green);

			.kol-alert__heading-icon,
			.kol-alert__close-button > .button {
				color: var(--color-green);
			}
		}

		&--warning {
			border-color: var(--color-orange);

			.kol-alert__heading-icon,
			.kol-alert__close-button > .button {
				color: var(--color-orange);
			}
		}
	}
}
