@import '../@shared/mixins';
@import '../style';
@import '../host-display-block';
@import '../../functional-components/Collapsible/collapsible';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.details {
		&__heading-button {
			display: flex;

			button {
				min-height: auto;
			}

			button .kol-span-wc .span-label {
				border-bottom-color: grey;
				border-bottom-style: solid;
			}
		}

		.open &__heading-button {
			.kol-icon::part(icon) {
				transform: rotate(90deg);
			}
		}
	}
}
